canvas { 
    background: #eee;
    display: block;
    margin: 0 auto; 
}

.game-container {
    margin-top: -100px;
}

/* add @media so that it takes up a certain percentage of the screen within a certain width */