main {
    margin-top: -75px;
}

#login-box {
    border: solid black 1px;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.error {
    color: red;
    font-size: 10px;
    font-family: Arial;
}