#canvas-and-highscores {
    display: flex;
    justify-content: center;
    align-items: center;
}

#snake {
    margin-right: 40px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    margin-top: 0; 
}

#highscores-container {
    margin-top: -250px;
    padding: 4px;
    border: solid black 1px;
}

table, th, td {
    margin: 0 auto;
    padding: 4px;
    border-top: 1px solid black;
    border-collapse: collapse;
}

h5, #score {
    font-family: 'Bungee Shade', cursive;
    font-size: 25px;
    color: #ffdd77;
    text-align: center;
}