<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}" type="text/css">
    {% block title %}
    <title>Default title</title>
    {% end %}
</head>
<body>

    <header>
        <h2>Game app</h2>
        <h4>User</h4>
    </header>

    <main>
    {% block body %}{% end %}
    </main>

    <footer>
        <p>By Dom and Harry</p>
    </footer>

</body>
</html>