{% extends "base.html" %}

{% block title %}
<link rel="stylesheet" href="{{ static_url('css/game.css') }}" type="text/css">
<title>Game</title>
{% end %}

{% block body %}
<header>
    <a href="/home" class="home-link"><h2>Game app</h2></a>
    <h4>{{ name }}</h4>
    <a href="/logout" class="logout">
        <button >Logout</button>
    </a>
</header>

<main>
    <div class="game-container">
        
        <canvas id="myCanvas" width="480" height="320"></canvas>
        
        <script type="text/javascript" src="../static/scripts/game.js"></script>
        
    </div>
</main>
{% end %}