{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="{{ static_url('css/login.css') }}" type="text/css">
<title>Login</title>
{% end %}

{% block body %}
<header>
    <h1>Massive<span>clip</span></h1>
</header>
<main>
    <div id="login-container">
        <div id="login-box">
            <h3>Login</h3>
            <h3 class="error">{{ login_message }}</h3>
            <form action="/login" method="POST">
                <input type="text" name="username" maxlength="10" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit" name="login">
            </form>

            <h3>Register</h3>
            <h3 class="error">{{ register_message }}</h3>
            <form action="/register" method="POST">
                <input type="text" name="username" maxlength="10" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit" name="login">
            </form>
        </div>
    </div>
</main>
{% end %}