{% extends "base.html" %}

{% block title %}
<link rel="stylesheet" href="{{ static_url('css/snake.css') }}" type="text/css">
<title>W3sch</title>
{% end %}

{% block body %}

<header>
    <a href="/home" class="home-link"><h2>Snake</h2></a>
    <h4 id="username">{{ name }}</h4>
</header>

<main>
    <div id="snake">
        <canvas width="400" height="400" id="game"></canvas>
        <script src="../static/scripts/snake.js"></script>
        <h4 id="user_highscore">Your highscore: {{ user_highscore }}</h4>
        <h4>Snake</h4>
        <a href="https://stevenklambert.com/">By https://stevenklambert.com/</a>
    </div>
</main>
{% end %}